@model IEnumerable<voteCollector.Models.Friend>

@{
    ViewData["Title"] = "Index";
}

<style>
    #buttonsright input {
        font-size: 12px;
        padding: 4px 2px;
        border: solid 1px burlywood;
        width: 100%;
        margin: 2px 0 20px;
        border-radius: 5px;
        display: block;
    }

    #friendTable {
        counter-reset: rowNumber;
        font-size: 14px;
    }

        #friendTable thead {
            background: Gainsboro;
            word-wrap: break-word;
            /*            word-break: break-all;
    */
        }

        #friendTable tbody tr {
            counter-increment: rowNumber;
            font-size: 14px;
        }

        #friendTable tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
            font-size: 14px;
        }
</style>

<div id="buttonsright">
    <p>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Выйти</a>
    </p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p><font size="4" color="black" face="Arial">@User.Identity.Name</font></p>
    <p id="numberRecords"><font size="4" color="black" face="Arial"></font></p>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<h1>Избиратели</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="friendTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatronymicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumberResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistrationSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qrcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MicroDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollingStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatronymicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberResponsible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistrationSite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VotingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qrcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldActivity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupU.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.House.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MicroDistrict.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PollingStation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FamilyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFriend">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFriend">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFriend">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
