@model IEnumerable<Friend>;
@{
    ViewData["Title"] = "SearchFriendsByElectoralDistrict";
}

<table class="table" id="friendTable">
    <thead>
        <tr>
            <th></th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdFriend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatronymicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectoralDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.PhoneNumberResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistrationSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextQRcode)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MicroDistrict)
                </th>*@
            <th>
                Удалить
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    @if (!@User.Identity.Name.Equals("unknown@ya.ru"))
    {
        <tbody id="TbodyFriendTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center"></td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.IdFriend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatronymicName)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.FieldActivity.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Organization_.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.GroupU.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.ElectoralDistrict.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Street.Name)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.House.Name)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Building)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Apartment)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.PhoneNumberResponsible)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.DateRegistrationSite)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.VotingDate)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Voter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextQRcode)
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdFriend">Править</a> |
                        <a asp-action="Details" asp-route-id="@item.IdFriend">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdFriend">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody id="TbodyFriendTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center"></td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.IdFriend)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatronymicName)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.FieldActivity.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Organization_.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.GroupU.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.ElectoralDistrict.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Street.Name)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.House.Name)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Building)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Apartment)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.PhoneNumberResponsible)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.DateRegistrationSite)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.VotingDate)
                    </td>
                    <td class="colFilter">
                        @Html.DisplayFor(modelItem => item.Voter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextQRcode)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdFriend">Подробнее</a> |
                    </td>
                </tr>
            }
        </tbody>
    }
    <tfoot>
        <tr>
            <th></th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdFriend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatronymicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectoralDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.PhoneNumberResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistrationSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voter)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MicroDistrict)
                </th>*@
            <th>

            </th>
            <th></th>
        </tr>
    </tfoot>
</table>