@model IEnumerable<Friend>;  
@{
    ViewData["Title"] = "SearchFriendsByElectoralDistrict";
}

<tbody id="TbodyFriendTable">
    @foreach (var item in Model)
    {
        <tr>
            <td align="center"></td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.IdFriend)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatronymicName)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.ElectoralDistrict.Name)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.Street.Name)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.House.Name)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.Apartment)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.FieldActivity.Name)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => item.PhoneNumberResponsible)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.DateRegistrationSite)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.VotingDate)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.Voter)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.Station.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="colFilter">
                @Html.DisplayFor(modelItem => item.GroupU.Name)
            </td>

            @*<td class="colFilter">
                    @Html.DisplayFor(modelItem => item.MicroDistrict.Name)
                </td>*@
            <td>
                <input type="checkbox">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFriend">Править</a> |
                <a asp-action="Details" asp-route-id="@item.IdFriend">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFriend">Удалить</a>
            </td>
        </tr>
    }
</tbody>
