@model IEnumerable<voteCollector.Models.Groupu>

@{
    ViewData["Title"] = "GetChildGroupsUser";
}

<p>
    <a asp-action="Index">Все группы</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupParents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResponsible)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupParents.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserResponsible.FamilyName)
            </td>
        </tr>}
    </tbody>
</table>
