@model IEnumerable<voteCollector.Models.Groupu>

@{
    ViewData["Title"] = "Index";
}
<style>
    #buttonsright input {
        font-size: 12px;
        padding: 4px 2px;
        border: solid 1px burlywood;
        width: 100%;
        margin: 2px 0 20px;
        border-radius: 5px;
        display: block;
    }

    #grupsTable {
        counter-reset: rowNumber;
        font-size: 14px;
    }

        #grupsTable thead {
            background: Gainsboro;
            word-wrap: break-word;
            /*            word-break: break-all;
    */
        }

        #grupsTable tbody tr {
            counter-increment: rowNumber;
            font-size: 14px;
        }

        #grupsTable tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
            font-size: 14px;
        }
</style>

@*<div>
        <a asp-action="RedirectTo">Вернуться на главную</a>
    </div>*@
<div id="buttonsright">
    <p>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Выйти</a>
    </p>
</div>

<p><font size="4" color="black" face="Arial">@User.Identity.Name</font></p>
<p>
    <a asp-controller="Admin" asp-action="Index">Отчеты</a> |
    <a asp-controller="Admin" asp-action="LkAdmin">Участники</a> |
    <a asp-controller="Users" asp-action="Index">Пользователи</a> |
    <a asp-controller="Groupsusers" asp-action="Index">Группы пользователей</a> |
    <a asp-controller="Groupus" asp-action="Index">Группы</a> |
    <a asp-controller="Stations" asp-action="Index">Участки</a> |
    <a asp-controller="Districts" asp-action="Index">Участки по округам</a> |
    <a asp-controller="PollingStations" asp-action="Index">Участки по адресам</a> |
</p>
<br />
<h1>Группы</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Добавить</a>
</p>
<table class="table" id="grupsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupParents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserResponsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberEmployees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldActivity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupParents.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserResponsible.FamilyName)
                    @Html.DisplayFor(modelItem => item.UserResponsible.Name)
                    @Html.DisplayFor(modelItem => item.UserResponsible.PatronymicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberEmployees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorGroup)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdGroup">Править</a> |
                    <a asp-action="GetChildGroups" asp-route-id="@item.IdGroup">Подчиненные гр.</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>

<environment include="Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>

@section Scripts {

    <script type="text/javascript" src="~/js/JS_Index_Groups.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        if (TempData["msg"] != null)
        {
            <script>
            alert('@TempData["msg"]')
            </script>
        }
    }
}



