@model IEnumerable<voteCollector.Models.District>

@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    #buttonsright input {
        font-size: 12px;
        padding: 4px 2px;
        border: solid 1px burlywood;
        width: 100%;
        margin: 2px 0 20px;
        border-radius: 5px;
        display: block;
    }

    #districtsTable {
        counter-reset: rowNumber;
        font-size: 14px;
    }

        #districtsTable thead {
            background: Gainsboro;
            word-wrap: break-word;
            /*            word-break: break-all;
    */
        }

        #districtsTable tbody tr {
            counter-increment: rowNumber;
            font-size: 14px;
        }

        #districtsTable tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 1em;
            margin-right: 0.5em;
            font-size: 14px;
        }
</style>

<h1>Участки по округам</h1>

<div>
    <a asp-action="RedirectTo">Вернуться на главную</a>
</div>

<br />
<hr />
<div>
    <input type="hidden" id="RequestVerificationToken"
           name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Добавить участок в округ</a>
</p>

<table class="table" id="districtsTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectoralDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (@User.Identity.Name.Equals("vldmr@ya.ru"))
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElectoralDistrict.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdDistrict">Править</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElectoralDistrict.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>

<environment include="Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>

@section Scripts {

    <script type="text/javascript" src="~/js/JS_Index_Districts.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        if (TempData["msg"] != null)
        {
            <script>
            alert('@TempData["msg"]')
            </script>
        }
    }
}

